/*
 * --------------------------------------------------------------
 * © 2024 Space Shitter
 * Author: Jack Hyun
 * All rights reserved.
 * --------------------------------------------------------------
 */

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "press Start 2P";
}

 .old-screen {
  position: relative;
  text-align: center;
  filter: contrast(1.2);

  background-size: 100% 6px; 
  padding: 20px;
}

button {
  font-family: "press Start 2P";
}

#game-container {
  position: relative;
  width: 800px;
  height: 600px;
  border: 2px solid white;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(rgb(28, 54, 28) 50%, rgba(18, 45, 18) 50%);
  background-size: 100% 6px;
  pointer-events: none;

  transition: transform 0.05s;
}

#score-display {
  position: absolute;
  top: 42px; 
  left: 10px; 
  color: white;
  font-size: 14px;
  z-index: 10;
}


#level-display, #health-display, #countdown-display {
  position: absolute;
  top: 10px;
  color: white;
  font-size: 14px;
  z-index: 10;
}

#level-display {
  left: 10px;
}

#health-display {
  left: 150px;
}

#countdown-display {
  right: 10px;
}

#spaceship {
  position: absolute;
  bottom: 10px;
  left: 375px;
  width: 50px;
  height: 50px;
  background-color: blue;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 
  z-index: 10; 
}

.bullet {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: red;
  z-index: 5; 
}

.enemy {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 5; 
}

.tanky-enemy {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: darkgreen;
  z-index: 5; 
}

.advanced-enemy {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: purple;
  z-index: 5; 
}

.boss-enemy {
  position: absolute;
  width: 160px;
  height: 180px;
  background-image: url(../img/boss.jpg);
  background-size: cover;
  background-position: center; 
  z-index: 5; 
}

.boss2-enemy {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: darkred;
  transition: transform 0.1s;
  background-image: url(../img/boss2.jpg);
  background-size: cover; 
  background-position: center;
  z-index: 5; 
}


.particle {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: yellow;
  border-radius: 50%;
  z-index: 2; 
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


.enemy, .advanced-enemy, .tanky-enemy {
  animation-timing-function: linear; 
  animation-iteration-count: infinite;
}


@keyframes moveStars {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 0 100%;
  }
}

.star {
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255); 
  position: absolute;
  opacity: 0.5;
  border-radius: 50%;
  z-index: 3;
}

footer {
  width: 100%;
  bottom: -20px; 
  text-align: center;
  color: white;
  opacity: 0.5;
  font-size: 12px;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-top: 10px;
  margin-bottom: -10px;
  
}


.footer-content .version {
  order: 1;
}

.footer-content .copyright {
  order: 2; 
}


#game-over-screen {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px; 
  z-index: 100; 
  text-align: center; 
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu {
  font-size: 40px;
  margin-bottom: 0; 
}


#game-over-screen button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  color: rgb(143, 194, 238);
  text-decoration: none;
  border: none;
  position: absolute;
  top: 64%;  
  left: 50%;
  transform: translate(-55%, -50%);
  z-index: 11;
  font-size: 21px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.4;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  background-color: transparent; 
}

#final-level, #final-score {
  font-size: 24px; 
  margin: 10px 0; 
}

#game-over-screen a{
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: rgb(143, 194, 238);
  text-align: center;
  text-decoration: none;
  border: none;
  position: absolute;
  top: 76%;  
  left: 50%;
  transform: translate(-54%, -50%);
  z-index: 11;
  font-size: 21px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.4;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#game-over-screen a:hover{
  color: #fff;
  background-color: transparent; 
  box-shadow: inset 300px 0 0 0 #54b3d6; 
}


#game-over-screen button:hover {
  color: #fff;
  background-color: transparent;
  box-shadow: inset 300px 0 0 0 #54b3d6; 
}